li.MeerKatCurrent {
    border:solid 1px red;
}
#MeerKatNoticeBar {
    position:fixed;
    top:0;
    left:0;
    width:200px;
    height:50px;
    border:solid 1px #cccccc;
    z-index: 9999;
    background:#F7E7C8;
}
